* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgb(82, 91, 167);
  color: black;
  line-height: 1.5;
  font-size: 0.875rem;
  display: grid;
  grid-template-columns: auto 0px;
}

.top {
  --offset: 50px;

  position: sticky;
  bottom: 20px;
  margin-right: 10px;
  place-self: end;
  margin-top: calc(100vh + var(--offset));

  /* visual styling */
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  font-size: 20px;
  color: #ebe3e3;
  background: #e012d6af;
  border-radius: 100px;
  white-space: nowrap;
}

p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
  font-size: 1.4rem;
}

h2 i {
  font-size: 14px;
  color: #67696b;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

legend {
  font-size: 30px;
  color: #285ba8;
  background-color: rgb(150, 145, 145);
}

.container {
  width: 90vw;
  margin: 5rem 0;
  max-width: 1170px;
  background: rgb(146, 90, 132);
  border-radius: 0.25rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.innovation {
  background: white;
  border-radius: 0.25rem;
  margin: 5rem 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
}

.login-btn {
  background-color: rgb(22, 158, 22);
  color: white;
  margin: 7px;
  padding: 5px;
  font-size: 23px;
}

.refresh-btn {
  background-color: rgb(187, 177, 41);
  color: white;
  margin: 7px;
  padding: 5px;
  font-size: 23px;
}

.login-form label {
  color: rgb(22, 22, 22);
  font-size: 20px;
}

.edit-story {
  display: flex;
  background-color: rgba(255, 255, 0, 0.753);
  color: rgba(0, 0, 0, 0.733);
  font-weight: 600;
  font-size: 23px;
  margin: 7px;
  padding: 7px;
}

.add-form {
  background-color: rgb(120, 170, 172);
}

.add-form input {
  width: 40%;
  margin: 20px;
}

.add-form label {
  font-size: 30px;
}

.add-btn {
  background-color: #392cac;
  font-size: 26px;
  width: 40%;
  color: white;
  margin: 7px;
  padding: 7px;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.innovation:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.innovation img {
  width: 100%;
  height: 40;
  object-fit: cover;
  border-top-right-radius: o.25rem;
  border-top-left-radius: 0.25rem;
}

.innovation-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #392cac5b;
  font-size: 27px;
}

.innovation h4 {
  margin-bottom: 0;
}

.innovation-title {
  margin: 2rem;
}

.innovation-year {
  color: hsl(205, 78%, 60%);
  background: hsl(205, 100%, 96%);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin: 2rem;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  border: 1px solid white;
  border-radius: 37%;
  font-size: 20px;
}

.search-container {
  background-color: #61dafb;
}

.search-form {
  width: 100%;
}

.search-btn {
  border: 1px solid white;
  border-radius: 45%;
}

.search-form {
  display: flex;
  align-items: center;
  width: 35%;
}

.search-btn-input {
  background-color: black;
  width: 85%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.danger-btn {
  background-color: rgba(255, 0, 0, 0.911);
  border: 1px double black;
  color: white;
  width: 45%;
  font-size: 20px;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

.refresh-btn {
  background-color: rgb(30, 32, 116);
  color: white;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
}

.btn {
  background-color: rgb(15, 231, 69);
  color: rgb(12, 11, 11);
  font-size: 15px;
  margin: 3px;
  padding: 3px;
}

.search-label {
  font-size: 24px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  width: 90vw;
  margin: 5rem 0;
  padding: 1.5rem 2rem;
}

em {
  color: red;
}

.heading {
  color: blue;
  font-size: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

header {
  background: linear-gradient(
    90deg,
    rgba(237, 237, 244, 1) 0%,
    rgba(40, 150, 184, 1) 42%,
    rgba(246, 251, 252, 1) 86%,
    rgba(0, 212, 255, 1) 100%
  );
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
    background-color: red;
  }
}
